.line-through {
    text-decoration: line-through;
}

ul.todo-list{
    list-style-type: none !important;
}

/* Transitions */

/* 1 */
.slide-vertical-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.slide-vertical-enter-active {
    opacity: 1;
    transition: all 300ms;
    transform: translateY(0px);
}

.slide-vertical-exit {
    opacity: 1;
    transform: translateY(0px);
}

.slide-vertical-exit-active {
    opacity: 0;
    transition: all 300ms;
    transform: translateY(-20px);
}

/* 2 */

.slide-horizontal-enter {
    opacity: 0;
    transform: translateX(20px);
}

.slide-horizontal-enter-active {
    opacity: 1;
    transition: all 300ms;
    transform: translateX(0px);
}

.slide-horizontal-exit {
    opacity: 1;
    transform: translateX(0px);
}

.slide-horizontal-exit-active {
    opacity: 0;
    transition: all 300ms;
    transform: translateX(20px);
}
